{{> header}}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <div></div>
            <h1>404</h1>
        </div>
        <h2 class="custom-bg custom-shadow text-white rounded">Page not found</h2>
        <p class="custom-bg custom-shadow text-white rounded">The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
        <a href="#/about">home page</a>
    </div>
</div>