{{> header}}

<div class="container">
    <div class="row text-center">
        <div class="col-lg-4 mb-20">
            <img src="./public/images/me.jpg" alt="picture of me" class="custom-shadow rounded" title="Konstantin Lazarov @ work in Ardes.bg">
        </div>
        <div class="col-lg-8 my-auto">
            <h2 class="custom-fonts custom-bg custom-shadow rounded mb-10">About me</h2>
            <p class="custom-bg custom-shadow rounded">Hello. I am Konstantin Lazarov and this is my website. Here you can check out some of my projects, my certificates and download my CV.<br>
                My passion is the back-end, so I apologize for the simple design of my projects :)<br>
                I'm constantly trying to improve my back-end skills and i love it.<br></p>
        </div>
    </div>
</div>