{{> header}}

<div class="container">
    <h2 class="custom-bg custom-shadow custom-fonts text-center rounded mb-20">My certificates</h2>

    <div class="row">
        <div class="col-md-4 mb-5" id="test">
            <div class="thumbnail text-center">
                <a href="./public/images/certificates/08_express_js.jpg" target="_blank">
                    <img onload="showCertificates()" src="./public/images/certificates/08_express_js.jpg" alt="Express JS">
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="thumbnail text-center">
                <a href="./public/images/certificates/07_php_mvc_symfony.jpg" target="_blank">
                    <img src="./public/images/certificates/07_php_mvc_symfony.jpg" alt="PHP MVC Symfony">
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="thumbnail text-center">
                <a href="./public/images/certificates/06_js_advanced.jpg" target="_blank">
                    <img src="./public/images/certificates/06_js_advanced.jpg" alt="JS Advanced">
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="thumbnail text-center">
                <a href="./public/images/certificates/05_js_fundamentals.jpg" target="_blank">
                    <img src="./public/images/certificates/05_js_fundamentals.jpg" alt="JS Fundamentals">
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="thumbnail text-center">
                <a href="./public/images/certificates/04_software_technologies.jpg" target="_blank">
                    <img src="./public/images/certificates/04_software_technologies.jpg" alt="Software Technologies">
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="thumbnail text-center">
                <a href="./public/images/certificates/03_fundamentals.jpg" target="_blank">
                    <img src="./public/images/certificates/03_fundamentals.jpg" alt="Programming Fundamentals">
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="thumbnail text-center">
                <a href="./public/images/certificates/02_basics_java.jpg" target="_blank">
                    <img src="./public/images/certificates/02_basics_java.jpg" alt="Basics with Java">
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="thumbnail text-center">
                <a href="./public/images/certificates/01_basics_csharp.jpg" target="_blank">
                    <img src="./public/images/certificates/01_basics_csharp.jpg" alt="Basics with C#">
                </a>
            </div>
        </div>
    </div>
</div>